<template>
    <div class="row">
        <div class="login">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Wachtwoord Wijzigen</h1></div>
                <p class="panel-body">
                    Om technische redenen is het momenteel niet mogelijk om het wachtwoord automatisch te wijzigen. Gelieve contact op te nemen met info@practinet.be om dit door ons team handmatig aan te laten passen.
                </p>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Validation from '../common/resources/js/components/ValidationComponent.vue';
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component({
        name: 'reset-password',
        components: {
            Validation
        }
    })
    export default class ResetPassword extends Vue {
        input = {
            password: '',
            passwordConfirmed: ''
        };
        message = '';
        errors = {};
        errorMessage = null;

        @Prop({required: true, type: String})
        resetToken !: string;

        @Prop({default: () => '/change-password', type: String})
        endpoint !: string;

        resetPassword(event:Event){
            event.preventDefault();

            this.errors = {};
            this.errorMessage = null;
            (this.$refs.resetBtn as HTMLButtonElement).disabled = true;
            this.$http.post(this.endpoint, {
                ...this.input,
                token: this.resetToken
            })
                .then(({data}) => this.message = data.message)
                .catch(({response}) => {
                    if (response.status === 422) {
                        this.errors = response.data.errors;
                        this.errorMessage = response.data.message;
                    }
                })
                .finally(() => {
                    (this.$refs.resetBtn as HTMLButtonElement).disabled = false;
                });
        }
    };
</script>

<style scoped>

</style>
