<template>
    <div class="container">
        <div class="login">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Wachtwoord opnieuw instellen</h1></div>
                <p class="panel-body">
                    Om technische redenen is het momenteel niet mogelijk om het wachtwoord zelf opnieuw in te stellen. Gelieve contact op te nemen met info@practinet.be om dit door ons team handmatig aan te laten passen.
                </p>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Validation from '../common/resources/js/components/ValidationComponent.vue'
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component({
        name: 'send-reset',
        components: {
            Validation
        }
    })
    export default class SendReset extends Vue {

        errorMessage: string|null = null;
        errors = {};
        email =  '';
        message: string|null = null;
        @Prop({type: String, default: () => '/send-reset'})
        endpoint !: string;
        sendReset(event: Event) {
            event.preventDefault();

            this.errors = {};
            this.errorMessage = null;
            this.message = null;

            const data = {
                email: this.email,
            };

            this.$http.post(this.endpoint, data)
                .then(({data}) => {
                    this.message = data.message;
                })
                .catch(({response}) => {
                    this.errors = response.data.errors;
                    this.errorMessage = response.data.message;
                });
        }
    };
</script>
