// frontend  login
.login {
  text-align: center;
  display: block;
  width: 100%;
  @media only screen and (max-width: 599px) {
    padding: 0 20px;
  }
  // first message
  .message {
    padding: 0;
    clear: left;
    margin: 0;
    float: left;
    left: 50%;
    position: relative;
    margin-left: -200px;
    margin-bottom: 15px;
    font-weight: 400;
    color: $c-red;
    @media only screen and (max-width: 599px) {
      float: none;
      left: auto;
      margin-left: 0;
    }
  }

  // heading
  .panel-heading {
    padding: 0;
    clear: left;
    margin: 0;
    float: left;
    left: 50%;
    position: relative;
    margin-left: -200px;

    @media only screen and (max-width: 599px) {
      float: none;
      left: auto;
      margin-left: 0;
      text-align: left;
    }
    h1 {
      font-size: 25px;
      letter-spacing: 1px;
      font-weight: 800;
      margin-bottom: 15px;
      text-align: left;
    }
  }

  // main white block
  .panel-body {
    padding: 35px 30px;
    background: white;
    border: 1px solid #e8f0f4;
    clear: left;
    margin: 0;
    float: left;
    left: 50%;
    position: relative;
    margin-left: -200px;
    width: 400px;
    text-align: left;
    box-shadow: 0 0 12px rgba(189, 204, 212, 0.1);

    @media only screen and (max-width: 599px) {
      float: none;
      left: auto;
      margin-left: 0;
      width: 100%;
    }
  }

  // input
  .form-group {
    input {
      border: none;
      background: #f3f7f9;
      transition: none;
      &:focus {
        box-shadow: 0 0 1px #dadfe2 inset;
      }
    }
  }

  // label
  label {
    cursor: pointer;
    color: $c-blue-2;
    font-weight: 500;
  }
  // label checkbox
  .checkbox {
    label {
      cursor: pointer;
      font-weight: 400;
      color: $p-black ;
    }
  }

  // radio button checkbox
  input[type="radio"],
  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }

  // blue button
  button {
    border-radius: 3px;
    padding: 7px 25px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .btn-link {
    margin-bottom: 10px;
    @media only screen and (max-width: 599px) {
      padding-left: 0;
      margin-top: 0;
    }
  }
}
